/* Base setup */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #fff; /* Default background color */
}

/* Background styling with clip-path */
body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #28282B; /* Dark background color */
  clip-path: polygon(0 8vh, 100vw 25vh, 100vw 0, 0 0); /* Adjusted to use viewport units */
  z-index: 0; /* Ensure it's below all interactive content */
}

/* cedarville cursive google font
<font-size>: Use a value from 8px to 300px */
.cedarville-cursive-regular {
  font-family: "Cedarville Cursive", cursive;
  font-weight: 400;
  font-size: 36px;
  font-style: normal;
}

/* montserrat google font
<uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 100 to 900 */
.montserrat-reg {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

/* Base container setup */
.container {
  width: 70%;
  margin: 0 auto;
  z-index: 1; /* Higher stacking context than the pseudo-background */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Ensures footer sticks to the bottom */
}

/* Top navigation bar styling */
.topbar {
  color: white;
  padding: 2vh 0; /* Adjusted to use viewport height units */
  z-index: 2; /* Higher stacking context than the pseudo-background */
}

.topbar nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: right;
}

.topbar nav ul li {
  display: inline;
  margin-left: 2vw; /* Adjusted to use viewport width units */
}

.topbar nav ul li a {
  color: white;
  text-decoration: none;
}

.topbar nav ul li img {
  height: 5vh;
  margin-right: 2vw;
}

.content {
  flex-grow: 1; /* Takes up all available space */
  margin-top: calc(25vh - 9vh); /* Starts from the bottom of the clip-path, accounting for the topbar height */
  display: flex; /* Enables flexbox centering */
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  padding: 1.25rem;
}

/* Styling the slogan */
.centered-slogan {
  text-align: center;
  font-family: "Cedarville Cursive", cursive;
  font-weight: 400;
  font-size: 36px;
  color: #0030ad; /* Text color */
}

/* Grid Container styling */
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  gap: 10px;
  padding: 5px;
}


/* Grid Item styling */
.grid-item {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  align-items: center; /* Center content horizontally */
}

.grid-item a {
  text-decoration: none; /* Removes underline */
  color: inherit; /* Optional: ensures the link color matches the text color */
}

/* Service Card styling */
.service_card {
  padding: 5px;
  text-align: center; /* Center text */
  transition: transform 0.3s ease; /* Smooth transform effect for hover */
}

.service_card:hover {
  transform: translateY(-5px); /* Slight lift effect on hover */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Shadow for lifted effect */
}

.service_card img {
  max-width: 100%; /* Ensure image is responsive and fits the card */
  height: auto; /* Maintain aspect ratio */
}

.service_card_text {
  margin-top: 5px; /* Space between image and text */
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: #0030ad; /* Text color */
  font-size: small; /* Adequate font size for visibility */
}

/* Important note styling */
.important_note {
  display: flex;
  padding: 0.5vh;
}

.important_note_left, .important_note_right {
  font-size: small;
}

.important_note_left {
  color: grey;
  width: 70%;
  padding-right: 2vw;
}

.important_note_right {
  width: 30%;
}

.important_note_right div {
  color: #CC0000; /* Default text color */
  margin-bottom: 0.25rem; /* Spacing between lines */
}

.important_note_right div span {
  color: grey; /* Color for the rest of the text after the first letter */
}

/* Footer styling */
.footer {
  text-align: center;
  padding: 1vh;
  color: #CC0000;
  font-size: smaller;
}

.footer a img {
  vertical-align: middle;
  height: 2vh;
}

/* Responsive adjustments */
@media (max-width: 1024px) {
  .grid-container {
    grid-template-columns: repeat(3, 220px);
  }
}

@media (max-width: 950px) {
  .container {
    width: 100%; /* More screen usage on smaller devices */
  }

  .grid-container {
    grid-template-columns: repeat(2, 300px);
  }
}

@media (max-width: 768px) {
  .important_note_left, .important_note_right {
    font-size: xx-small;
  }
  .footer {
    font-size: x-small;
  }
  .grid-container {
    grid-template-columns: repeat(2, 300px);
  }
}

@media (max-width: 550px) {
  .grid-container {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}