<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

		<title>Trilp Software Pune</title>
		<meta name="description" content="Discover Trilp Software Pune, India's leading AI driven software development consultancy. Expert in AI, machine learning, and full-stack software like custom ERP, CRM,LMS.">
		<meta name="keywords" content="Trilp Software Pune software development company in India, top ai software development company in India, top edtech software development company in India, best full stack developer in Pune India, best software architect in Pune India, ai ml internship india, ai ml training india">

		<link rel="canonical" href="https://www.trilp.in/">
		<link rel="stylesheet" href="assets/css/main.css" />

		<meta name="robots" content="index, follow">

		<!-- favicon icon code starts -->
		{%- include favicon.html -%}

		<meta property="og:title" content="Trilp Software Pune">
		<meta property="og:description" content="Discover Trilp Software Pune, India's leading AI driven software development consultancy. Expert in AI, machine learning, and full-stack software like custom ERP, CRM,LMS.">
		<meta property="og:image" content="https://www.trilp.in/assets/images/logo/trilp-sm-share.jpg">
		<meta property="og:url" content="https://www.trilp.in/">
		<meta property="og:type" content="website">

		<meta name="twitter:card" content="summary">
		<meta name="twitter:title" content="Trilp Software Pune">
		<meta name="twitter:description" content="Discover Trilp Software Pune, India's leading AI driven software development consultancy. Expert in AI, machine learning, and full-stack software like custom ERP, CRM, LMS.">
		<meta name="twitter:image" content="https://www.trilp.in/assets/images/logo/trilp-sm-share.jpg">

		<script type="application/ld+json">
		{
			"@context": "https://schema.org",
			"@type": "Organization",
			"name": "trilp",
			"url": "https://www.trilp.in/",
			"logo": "https://www.trilp.in/assets/images/logo/trilplogo-white-bg.png",
			"image": "https://www.trilp.in/assets/images/logo/trilp-sm-share.jpg",
			"description": "Discover Trilp Software Pune, India's leading AI driven software development consultancy. Expert in AI, machine learning, and full-stack software like custom ERP, CRM, LMS.",
			"keywords": "Trilp Software Pune software development company in India, top ai software development company in India, top edtech software development company in India, best full stack developer in Pune India, best software architect in Pune India, ai ml internship india, ai ml training india",
			"founder": [
			{
				"@type": "Person",
				"name": "Pradyumna Das Roy",
				"sameAs": "https://www.linkedin.com/in/pradyroy/"
			}
			],
			"foundingDate": "2023-11-01",
			"brand": {
			"name": "trilp",
			"logo": "https://www.trilp.in/assets/images/logo/trilplogo-white-bg.png",
			"slogan": "We design, develop and deliver software"

			},
			"location":{
			"@type": "Place",
			"address": {
				"@type": "PostalAddress",
				"streetAddress": "Magarpatta City",
				"addressLocality": "Pune",
				"addressRegion": "Maharashtra",
				"postalCode": "411013",
				"addressCountry": "India"
			},
			"geo": {
				"@type": "GeoCoordinates",
				"latitude": "18.51471623183104",
				"longitude": "73.93113109619145"
			}
			},
			"contactPoint": {
			"@type": "ContactPoint",
			"email": "contact@trilp.in",
			"contactType": "founder",
			"areaServed": [
				"Pune",
				"Mumbai",
				"Bengaluru",
				"Hyderabad",
				"Chennai",
				"Kolkata",
				"India",
				"USA",
				"Canada",
				"United Kingdom",
				"Australia",
				"Dubai"
			]
			},
			"sameAs": [
			"https://github.com/trilpai"
			]
		}
		</script>
	</head>
	<body class="landing is-preload">
		{%- include mainmenu.html -%}
		<!-- Banner -->
			<section id="banner">
				<header class="major">
					<span class="image"><img src="assets/images/logo/trilp-logo.png" alt=""></span>
					<h1>Trilp Software</h1>
					<p>Intelligent Journal & Ledgers</p>
				</header>
				<ul class="actions special">
					<li><a href="#one" class="button scrolly">Proceed</a></li>
				</ul>
			</section>

		<!-- One -->
			<section id="one" class="wrapper style1 special">
				<div class="inner">
					<header class="major alt style2">
						<h2>THE CODE</h2>
						<p>CRAFTING INTELLIGENCE PERPETUALLY</p>
					</header>
					<section class="split">
						<article>
							<h4>SOFTWARE DEVELOPMENT, MAINTENANCE & SALES</h4>
							<p>We develop and sell ERP and CRM software for MSMEs, offering seamless solutions for Purchase, Inventory, Sales, Invoicing, Accounting, HR, Helpdesk, Chatbots and more, powered by our intelligent journal & ledgers platform.</p>
							<ul class="actions special">
								<li><a href="#" class="button">Learn More</a></li>
							</ul>
						</article>
						<article>
							<h4>SOFTWARE CONSULTING, TRAINING & INTERNSHIP</h4>
							<p>We offer free and paid software consulting, training and internships for aspiring full-stack developers, focusing on API development with Python/NodeJS, ReactJS, & AI/ML, offering hands-on experience for building careers in tech.</p>
							<ul class="actions special">
								<li><a href="#" class="button">Learn More</a></li>
							</ul>
						</article>
					</section>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper style3 special">
				<div class="inner">
					<header class="major">
						<h2>Skunk Works</h2>
						<p style="font-family: Arial, sans-serif !important; text-transform: none !important;font-size: 1em;">
							<span>w<sub>n+1</sub> = w<sub>n</sub> + μe<sub>n</sub>x<sub>n</sub></span>
						</p>
					</header>
					<section class="spotlights">
						<section>
							<span class="image"><img src="assets/images/ledgers-journals-platform.jpg" alt="" /></span>
							<h4>Intelligent Journal & Ledgers</h4>
							<p>Intelligent Journal & Ledgers serves as a robust core platform, featuring a modular plug-in architecture. Built using Python and MySQL, it is engineered for scalability and offers seamless data integration, enabling advanced and efficient bookkeeping solutions.</p>
							<ul class="actions special">
								<li><a href="#" class="button">Learn More</a></li>
							</ul>
						</section>
						<section>
							<span class="image"><img src="assets/images/app-plugins.jpg" alt="" /></span>
							<h4>Business Apps as Plugins</h4>
							<p>Business applications like Purchase, Inventory, Sales, Invoicing, Accounting, and more seamlessly integrate with the core Journal & Ledgers platform. Its adaptable plug-in architecture enables users to easily add or remove applications to suit their specific needs.</p>
							<ul class="actions special">
								<li><a href="#" class="button">Learn More</a></li>
							</ul>
						</section>
					</section>
				</div>
			</section>

		<!-- Three -->
			<section id="three" class="wrapper style1 special">
				<div class="inner">
					<header class="major">
						<h2>Global Digital Academy</h2>
						<p>Affordable Software Skills Training for Livelihood</p>
					</header>
					<section class="features">
						<section>
							<span class="icon solid fa-cubes style3"></span>
							<h4>Software Developer Basic Training/Internship</h4>
							<p>Linux Shell Scripting, Basic SQL using MySQL, Basics of Source Control using Github, Basic web programming using HTML, CSS and plain Javascript.</p>
						</section>
						<section>
							<span class="icon solid fa-sun style5"></span>
							<h4>Full Stack Developer-I Training/Internship(Python)</h4>
							<p>Hands-on training and internship certificate in Python backend development, RESTful API creation using Flask, database integration with MySQL, and version control using Git for full-stack application development.</p>
						</section>
						<section>
							<span class="icon fa-gem style4"></span>
							<h4>Full Stack Developer-II Training(Next.js/React.js)</h4>
							<p>Hands-on training and internship certificate in Next.js(React.js framework) frontend development, consuming RESTful APIs, JWT based authentication, and version control using Git for full-stack application development.</p>
						</section>
						<section>
							<span class="icon solid fa-brain style2"></span>
							<h4>AI/ML Data Science Training(Python + Tableau)</h4>
							<p>Hands-on training in Python for AI/ML, including data preprocessing, model building, and machine learning algorithms, combined with data visualization using Tableau for powerful insights and real-world data science applications.</p>
						</section>
					</section>
					<footer class="major">
						<ul class="actions special">
							<li><a href="#" class="button">Learn More</a></li>
						</ul>
					</footer>
				</div>
			</section>

		<!-- Four -->
			<section id="four" class="wrapper style4 special-alt">
				<div class="inner split">
					<section>
						<header class="major">
							<h2>ज्ञानं ज्ञानार्थम्</h2>
						</header>
						<p>Gyanam Gyanartham. Pursuing knowledge for its own intrinsic value, with a focus on continuous learning, growth, and intellectual curiosity. Knowledge as the ultimate purpose, expanding our minds and understanding.</p>
					</section>
					<form method="post" action="#">
						<ul class="actions">
							<li><a href="#" class="button">Take a Quiz</a></li>
						</ul>
					</form>
				</div>
			</section>

		<!-- Five -->
			<section id="five" class="wrapper style1 special alt">
				<div class="inner">
					<h4>योगः कर्मसु कौशलम्</h4>
					<p>Yogaḥ Karmasu Kauśalam. Performing one's work with skill and focus is considered the path of Yoga.</p>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<!-- <ul class="alt-icons">
					<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
					<li><a href="#" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
					<li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
					<li><a href="#" class="icon solid fa-phone"><span class="label">Phone</span></a></li>
					<li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
				</ul>
				<ul class="menu">
					<li><a href="#">Terms of Use</a></li>
					<li><a href="#">Privacy Policy</a></li>
					<li><a href="#">Contact Us</a></li>
				</ul> -->
				<p class="copyright">
					&copy; 2024-present Trilp Software. All rights reserved.
				</p>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>